.c-card-container {
  position: relative;
  margin-top: 9.8rem;
  padding-top: 38rem;
  border-radius: 1.2rem;
  background: $color-eerie-black url("../svgs/pattern_plain-shapes.svg") no-repeat top center / 28rem 42rem;

  @media (min-width: $breakpoint-tablet) {
    max-height: 60rem;
    margin: 13.8rem 0 9.6rem;
    padding: 15rem 5.8rem 0 23.9rem;
    background-position: 22.9rem -3.1rem;
  }

  @media (min-width: $breakpoint-desktop) {
    margin: 21.3rem 0 11.5rem;
    padding: 9rem 9.5rem 0 56.9rem;
    background-size: 31.2rem 46.8rem;
    background-position: 33.6rem -4rem;
  }
}

.c-card-container::before {
  content: "";
  position: absolute;
  top: -9.8rem;
  left: 50%;
  width: 20.9rem;
  height: 43rem;
  transform: translateX(-50%);
  background: url("../images/illustration_phone_624x1284.png") no-repeat center / cover;

  @media (min-width: $breakpoint-tablet) {
    top: -13.8rem;
    left: 6.4rem;
    width: 27rem;
    height: 55.6rem;
    transform: none;
  }

  @media (min-width: $breakpoint-desktop) {
    width: 31.2rem;
    height: 64.2rem;
    top: -21.3rem;
    left: 10.2rem;
  }
}

.c-card-container__inner-container {
  position: relative;
}
