.footer {
  padding: 3.125rem 0;
  text-align: center;
  @media (min-width: $breakpoint-tablet) {
    padding: 2.6875rem 0;
  }
  @media (min-width: $breakpoint-desktop) {
    padding: 2.4375rem 0;
  }
}

.footer__content {
  @media (min-width: $breakpoint-desktop) {
    transform: translateX(-0.9375rem);
  }
}
