$breakpoint-tablet: 48rem;
$breakpoint-desktop: 90rem;

$color-yankees-blue: #162542;
$color-shadow-blue: #7b8bad;
$color-white: #ffffff;
$color-halloween-orange: #f16718;
$color-atomic-tangerine: #ff9b62;
$color-bright-gray: #e8eff2;

$font-family: 'Barlow', sans-serif;

$vertical-padding-mobile: 1.5rem;
