.progress-bar__bar-container {
  width: 100%;
  height: 1.25rem;
  margin-bottom: 0.625rem;
  padding: 0.1875rem;
  border-radius: 0.625rem;
  background-color: rgba($color-maastricht-blue-2, 0.5);
  @media (min-width: $breakpoint-tablet) {
    margin-bottom: 0.5rem;
  }
}

.progress-bar__bar {
  position: relative;
  width: 75%;
  min-width: 0.875rem;
  height: 100%;
  border-radius: 0.5rem;
  background: linear-gradient(90deg, $color-light-salmon-pink 0%, $color-french-fuchsia 100%);
}
.progress-bar__bar::after {
  content: '';
  position: absolute;
  top: 0.125rem;
  right: 0.125rem;
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 50%;
  background-color: $color-white;
}

.progress-bar__extremes-container {
  font: 700 0.75rem/0.875rem $font-family;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: $color-pale-lavender;
}
