* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#react-root {
  height: 100%;
}

body {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}
