@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

body,
h1,
h2,
p {
  margin: 0;
}

body {
  padding: 4.625rem 1.5rem 5.0625rem;
  background: $color-anti-flash-white;
  @media (min-width: $breakpoint-tablet) {
    padding: 16.25rem 1.5rem;
  }
}
