.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 20.4375rem;
  margin: 0 auto;
  border-radius: 0.625rem;
  background-color: $color-white;
  box-shadow: 0rem 2.5rem 2.5rem -0.625rem rgba($color-columbia-blue, 0.503415);
  @media (min-width: $breakpoint-tablet) {
    flex-direction: row;
    max-width: 45.625rem;
  }
}

.card__image {
  width: 100%;
  height: 12.5rem;
  border-radius: 0.625rem 0.625rem 0 0;
  @media (min-width: $breakpoint-tablet) {
    width: 17.8125rem;
    height: 17.5rem;
    border-radius: 0.625rem 0 0 0.625rem;
    object-fit: cover;
    object-position: left center;
  }
}

.card__content {
  padding: 2.25rem 2rem 1.25rem;
  @media (min-width: $breakpoint-tablet) {
    padding: 2rem 2.5rem;
  }
}

.card__heading {
  font: 700 1rem/1.5 $font-family;
  margin-bottom: 0.75rem;
  letter-spacing: 0.0125rem;
  color: $color-independence;
  @media (min-width: $breakpoint-tablet) {
    font-size: 1.25rem;
    line-height: 1.4;
    letter-spacing: 0.015625rem;
  }
}

.card__text {
  font: 500 0.8125rem/1.25rem $font-family;
  margin-bottom: 3.25rem;
  letter-spacing: 0.0076171875rem;
  color: $color-slate-gray;
  @media (min-width: $breakpoint-tablet) {
    margin-bottom: 1.25rem;
  }
}

.card__details-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 2.5rem;
}

.card__avatar {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1rem;
  border-radius: 50%;
}

.card__author-details {
  flex-grow: 1;
  letter-spacing: 0.0076171875rem;
}

.card__author-name {
  font: 700 0.8125rem/1.25rem $font-family;
  color: $color-independence;
}

.card__date {
  font: 500 0.8125rem/1.25rem $font-family;
  color: $color-cadet-blue;
}
