.share-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: $color-anti-flash-white;
  transition: 0.2s ease-in-out;
}

.share-button--dark,
.share-button:hover {
  background-color: $color-slate-gray;
  cursor: pointer;
  img {
    filter: grayscale(100%) brightness(2);
  }
}
