$breakpoint-tablet: 1110px;

$color-anti-flash-white: #ecf2f8;
$color-cadet-blue: #9daec2;
$color-columbia-blue: #c9d5e1;
$color-independence: #48556a;
$color-slate-gray: #6e8098;
$color-white: #ffffff;

$font-family: 'Manrope', sans-serif;
