@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

body {
  padding: 4.4375rem 1.5rem;
  background-color: $color-anti-flash-white;
  @media (min-width: $breakpoint-desktop) {
    padding: 10.25rem 9.375rem;
  }
}

body,
h1,
h2,
p {
  margin: 0;
}
